@font-face {
  src: url("../../fonts/Roboto/Roboto-Medium.ttf");
  font-family: "Roboto Medium";
}
@font-face {
  src: url("../../fonts/Roboto/Roboto-Bold.ttf");
  font-family: "Roboto Bold";
}
@font-face {
  src: url("../../fonts/Nunito/static/Nunito-SemiBold.ttf");
  font-family: "Nunito SemiBold";
}
@font-face {
  src: url("../../fonts/Nunito/static/Nunito-Black.ttf");
  font-family: "Nunito Black";
}
@font-face {
  src: url("../../fonts/Nunito/static/Nunito-Bold.ttf");
  font-family: "Nunito Bold";
}
@font-face {
  src: url("../../fonts/Nunito/static/Nunito-Regular.ttf");
  font-family: "Nunito Regular";
}
@font-face {
  src: url("../../fonts/poppins/Poppins-Medium.ttf");
  font-family: "Poppins Medium";
}
